<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fetherz.saim.twistertwit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.fetherz.saim.twitterredux.application.TwitterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_twitter"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme">
        <activity android:name="com.fetherz.saim.twitterredux.activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="droidgeddontweets"
                    android:scheme="oauth" />
            </intent-filter>
        </activity>
        <activity android:name="com.fetherz.saim.twitterredux.activities.TimelineActivity" />
        <activity
            android:name="com.fetherz.saim.twitterredux.activities.DetailTextActivity"
            android:parentActivityName="com.fetherz.saim.twitterredux.activities.TimelineActivity" />
        <activity android:name="com.fetherz.saim.twitterredux.activities.UserProfileActivity" />
        <activity android:name="com.fetherz.saim.twitterredux.activities.HomeActivity"></activity>
    </application>

</manifest>